<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"site-main","layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group site-main"><!-- wp:query-title {"type":"archive","showPrefix":false} /-->

<!-- wp:group {"tagName":"section","metadata":{"name":"Section"},"layout":{"type":"default"}} -->
<section class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Photo</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":18,"query":{"perPage":100,"pages":0,"offset":0,"postType":"fwd-work","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"include":{"fwd-work-category":[7]}},"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"margin":{"bottom":"0rem"}}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"metadata":{"name":"Article"},"style":{"spacing":{"padding":{"bottom":"10rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-bottom:10rem"><!-- wp:post-title {"level":3,"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true,"width":"","height":"","sizeSlug":"large"} /-->

<!-- wp:post-excerpt {"moreText":"Continue reading","showMoreOnNewLine":false,"excerptLength":30} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Section"},"layout":{"type":"default"}} -->
<section class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Web</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":18,"query":{"perPage":100,"pages":0,"offset":0,"postType":"fwd-work","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"include":{"fwd-work-category":[8]}},"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"margin":{"bottom":"0rem"}}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"metadata":{"name":"Article"},"style":{"spacing":{"padding":{"bottom":"10rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-bottom:10rem"><!-- wp:post-title {"level":3,"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true,"width":"","height":"","sizeSlug":"large"} /-->

<!-- wp:post-excerpt {"moreText":"Continue reading","showMoreOnNewLine":false,"excerptLength":30} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->